8 7 A = "Orange" ;
7 5 A = "Orange" ;
7 6 A = "Orange" ;
5 1 A = "Orange" ;
5 2 A = "Orange" ;
6 3 A = "Orange" ;
6 4 A = "Orange" ;
1 0 A = "Orange" ;
2 0 A = "Orange" ;
3 0 A = "Orange" ;
4 0 A = "Orange" ;
0 0 A = "Orange" ;
